@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('EB Garamond'), local('EBGaramond'), url(../EBGaramond.otf) format('off');
}

body {
    background: #e9dfea !important;
    font-family: 'EB Garamond', serif !important;

}
.top {
    background: url(../img/top-bg.png) repeat-x 100%;
    height: 101px;
    padding-left: 150px;
}
.logo:after {
    content: url("../img/logo.png");
    position: relative;
    top: 15px;
}
.phone:before {
    content: url("../img/text.png");
}
.phone {
    color: #ffffff;
    position: relative;
    top: 40px;
    font-style: italic;
}
#content {
    width: 1050px;
    margin: 0 auto;
}
.menu {
    background: url(../img/bg-menu.png) no-repeat;
    width: 1079px;
    height: 72px;
    margin-top: 50px;
}
.menu ul {
    list-style-type: none;
    margin: 10px 0 0 70px;
}
.menu ul li {
    display: inline;
    font-size: 1.6em;
    margin-right: 80px;
}
a:link, a:visited {
    color: #ffffff;
}
a:hover {
    text-decoration: none !important;
    color: #ffffff !important;
}

.menu ul li:hover {
    border: solid 3px #7228a1;
    border-radius: 8px;
    background: #47046e;
    padding: 2px 5px 2px 5px;
    position: relative;
    margin-right: 75px;
    margin-left: -10px;
}
.big-slider {
    background: url(../img/bg-slider-main.png) no-repeat;
    width: 962px;
    height: 451px;
    position: relative;
    left: 55px;
    top: -35px;
    z-index: -1;
    padding: 15px 0;
}
.slider {
    background: url(../img/bg-slider.png) no-repeat;
    width: 962px;
    height: 283px;
    position: relative;
    left: 55px;
    top: -25px;
    z-index: -1;
}
.slider img {
    position: absolute;
    top: -47px;
    left: 19px;
    clip: rect(50px,auto,285px,auto);
}
hr.hr {
    border: 0;
    border-bottom: 1px dashed #683b87;
}
.content {
    width: 962px !important;
    color: #683b87;
    font-size: 1.1em;
    position: relative;
    left: 55px;
}
.subject {
    color: #730029;
    font-weight: bold;
    font-size: 1.5em;
}
.content ul {
    color: #48295d;
    font-weight: bold;
}
.bottom {
    background: url(../img/bg-bottom.png) repeat-x;
    height: 327px;
    margin-top: 150px;
    color: #ffffff;
}
.bottom-content {
    padding-left: 150px;
}
.bottom ul, .content ul {
    list-style-type: none;
}
.bottom ul li:before, .content ul li:before {
    content: url(../img/li2.png);
    width: 7px;
    height: 12px;
    padding-right: 5px;
    margin-top: 3px;
}
.footer {
    background: url(../img/bg-footer.png) repeat-x;
    height: 46px;
    position: relative;
    top: 80px;
    padding: 12px 0 0 50px;
}

.contact-box {
    background: url(../img/contact-box.png) no-repeat;
    width: 461px;
    height: 602px;
    padding: 30px;
}

.main-box {
    background: url(../img/main-box.png) no-repeat;
    width: 463px;
    height: 327px;
    padding: 5px;
}
.main-box > div {
    width: 435px;
}
.main-box2 {
    background: url(../img/main-box2.png) no-repeat;
    width: 962px;
    height: 330px;
}