<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 main-box">
        <div><h2 class="subject">Czym się zajmuję?</h2>
            Moja firma specjalizuje się w udzielaniu kompleksowych usług dla firm, m.in.:<br>
            <ul>
                <li>Księgi rachunkowe</li>
                <li>PKPiR</li>
                <li>Ryczałt</li>
                <li>Kadry i płace</li>
            </ul>
            Świadczymy pełen zakres usług księgowych zarówno dla dużych przedsiębiorstw prowadzących księgi handlowe (pełna księgowość) jak i dla jednoosobowych działalności.
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 main-box pull-right">
        <div><h2 class="subject">Dlaczego warto mnie wybrać?</h2>
            Współpraca z moim biurem daje Państwu:<br>
            <ul>
                <li>Terminowość</li>
                <li>Wygodę</li>
                <li>Skuteczność</li>
                <li>Jakość i bezpieczeństwo</li>
            </ul>
            Rozpoczynasz działalność? Zakładasz spółkę? Zmieniasz biuro rachunkowe? Szukasz oszczędności i rezygnujesz z własnej księgowości? Zapraszam do współpracy!
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 main-box2">
        <h2 class="subject">Biuro rachunkowe, księgowość - Gostyń i okolice</h2>
        Witam Państwa na stronie internetowej mojego biura rachunkowego. Gostyń jest średnim miastem, w którym powstają nowe
        przedsiębiorstwa.
        Biuro Rachunkowe na rynku księgowym działa od 1999 roku. Markę zbudowałam w oparciu o wysokš jakość świadczonych
        przeze mnie usług oraz indywidualne i elastyczne podejście do oczekiwań Klientów.

        Potrzeby Klientów, komunikatywność i życzliwość we wzajemnych relacjach stanowią dla mnie podstawę działania.
        Doświadczenie i zaangażowanie pracowników i Kontrahentów to podstawa sukcesu. Jestem nastawiona na długoterminową
        współpracę i partnerskie relacje. Dbam o ich rozwój i wspieram w podnoszeniu kompetencji zawodowych.
    </div>
</div>
