<div class="row">
    <div class="col-md-6 contact-box">
        <div class="subject">Dane firmy</div>

        Biuro Rachunkowe Lucyna Przybył Sp. C.

        ul. Henryka Sienkiewicza 5

        63-800 Gostyń

        email: lprzybyl@op.pl

        tel.65 75 14 97<br>607 301 018



        NIP: 696 110 57 14

        REGON: 411109240
    </div>
    <div class="col-md-6 contact-box">
        <div class="subject">Formularz kontaktowy</div>
        <form method="get" action="../biuro/actions/send_mail.php">
            <label for="name">Imię i nazwisko</label><br>
            <input type="text" id="name">

            <label for="firm">Nazwa firmy</label><br>
            <input type="text" id="firm">

            <label for="mail">E-mail</label><br>
            <input type="email" id="mail">

            <label for="phone">Telefon</label><br>
            <input type="number" maxlength="9" id="phone">

            <label for="content">Treść zapytania</label><br>
            <textarea id="content" rows="5" style="width: 350px;"></textarea><br>
            <button type="submit">Wyślij</button>
        </form>
    </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2556.196133478597!2d18.840348900000006!3d50.15746839999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ca61b7565965%3A0xa0f133271c73b02!2sHenryka+Sienkiewicza+5%2C+43-170+%C5%81aziska+G%C3%B3rne!5e0!3m2!1spl!2spl!4v1438600844416" width="900" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>