Nasze biuro zapewnia kompleksową obsługę księgową, podatkową i kadrową podmiotów gospodarczych o różnym profilu działalności.
Proponujemy pomoc w zakładaniu firmy i wyborze formy opodatkowania .
Również roczne rozliczenie podatku dochodowego od osób fizycznych - sporządzanie deklaracji o zwrot VAT w budownictwie. Oferujemy m.in. :

<ul>
    <li>prowadzenie ewidencji księgowych, tj. podatkowa księga przychodów i rozchodów, ryczałt od przychodów ewidencjonowanych, księgi handlowe</li>
    <li>sporządzanie deklaracji podatkowych</li>
    <li>sporządzanie bilansu, rachunku zysków i strat</li>
    <li>sporządzanie ewidencji środków trwałych</li>
    <li>obsługę pracowników w zakresie: sporządzanie list płac, deklaracji do Zakładu Ubezpieczeń Społecznych, niezbędnych umów itp.</li>
    <li>sporządzanie sprawozdań do Urzędu Skarbowego, Urzędu Statystycznego</li>
    <li>doradztwo finansowo-księgowe</li>
</ul>

Podpisując z nami umowę nie musicie się już Państwo o nic martwić :

<ul>
    <li>wszelkie sprawy związane z Urzędem Skarbowym i ZUSEM załatwiamy zgodnie z podpisanym pełnomocnictwem</li>
    <li>na Państwa życzenie odbieramy dokumenty z siedziby Waszej firmy</li>
    <li>informację na temat podatków przesyłamy mailem lub sms-em</li>
</ul>